<% provide(:title, 'Authors') %>

<h1>List of all Authors</h1>
<%= will_paginate %>

  
    <%= link_to 'Add new Author', :action => 'new' %>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th width="200">First Name</th>
        <th width="200">Last Name</th>
        <th width="200">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% @authors.each do |author| %>
            <td><%= author.first_name %></td>
            <td><%= author.last_name %></td>
          <% if user_signed_in? %>
            <td class="actions"><%= link_to("Show", {:action => 'show', :id => author.id}) %> |
              <%= link_to("Edit",{:action => 'edit', :id => author.id}) %> |
              <%= link_to("Delete", author, method: :delete, data: {confirm: 'Are you sure you want to delete this author?'}) %>
            </td>
      
          <% end %>
        <% end %>
      </tr>
      </tbody>
    </table>
<%= will_paginate %>
   