<% provide(:title, @book.authors.name) %>
<div class="row">

  <div>
  
          <h3><%= @book.title %></h3>
          <%= image_tag @book.picture.url if @book.picture? %>
          <p><%= @book.authors.collect{|author| author.name }.join(', ') %></p>
          <p><%= @book.isbn %></p>
          <p><%= @book.description %></p>
          <p><%= @book.price %></p> 
          
          
          
       </tr>
      </table>
    
    <%= link_to "Edit",{:action => 'edit', :id => @book.id}, :class => 'btn btn-default' %>  
    <%= link_to 'Back to List', {:action => 'index'}, :class => 'btn btn-default' %>
    
    </section>
  </aside>
</div