<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
      <%= render 'layouts/header' %>
      <div class="row">
        <div class="small-12 columns">
 
           
           <p> <% flash.each do |message_type, message| %>
              <div data-alert class="alert-box <%= message_type %> radius"><%= message %></div>
            <% end %></p>
          
    <div class="counter">
      <% if @count.to_i > 5 %>
				<p class="text-right">Currently viewing the catalog for the <%= pluralize(@count, 'time') %></p>
			<% end %>
    
      <% if user_signed_in? %>
        
        <p class="text-left">Signed in as <%= current_user.email %>. Not you? 
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete %></p>
      <% end %>
    </div>
          <%= yield %> 
        </div>
  
          
       
      </div>
   <hr>
    <div class="row">
      <div class="small-12 columns">
      <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
